<a href="https://colab.research.google.com/github/AugustoPrestes/Aulas_Data_Science/blob/main/Aulas_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## AULAS DE NUMPY

### AULA 1 - INTRODUÇÃO AO NUMPY

In [ ]:
import numpy as np

In [ ]:
a = np.array([0, 1, 2, 3])

In [ ]:
a

###AULA 2 - CRIAÇÃO DE ARRAY

####CRIAÇÃO DE ARRAY

#####CRIALÇÃO MANUAL

In [ ]:
a = np.array([0, 1, 2, 3])
b = np.array([[0, 1, 2], [0, 1, 2]])

print(a, b)
print(a.ndim, b.ndim) # para saber a dimensão de um array é utilizado o methodo "ndim"
print(a.shape, b.shape) # para saber quantas linhas e colunas o array possui é utilizado o methodo "ndim"
print(len(a),len(b)) # para saber o tamanho do array, porém só retorna o valor da primeira dimensão a função "len"

#####CRIAÇÃO UTILIZANDO FUNÇÕES

In [ ]:
c = np.arange(0, 10, 2)
print(c, "\n")

d = np.linspace(1, 10)
print(d, "\n")

e = np.ones(5)
print(e, "\n")

f = np.ones((5,5))
print(f, "\n")

g = np.random.rand(5)
print(g, "\n")

In [ ]:
#Exercicios 

ex1 = np.eye(5)
print("Exercicio 1 :\n", ex1, "\n")

ex2 = np.ones((3, 3))
print("Exercicio 2 :\n", ex2, "\n")

ex3 = np.linspace(0, 20)
print("Exercicio 3 :\n", ex3, "\n")

ex4 = np.arange(1, 10)
print("Exercicio 1 :\n", ex4, "\n")

print(ex4)

###AULA 3 INDEXAÇÃO E CORTES EM ARRAYS

####IMPRIMINDO ARRAYS

#####IMPRIMINDO ARRAY UNIDIMENSIONAL

In [ ]:
a = np.arange(10, 21)

print(a)

# Para acessar um valor em um array é necessario informar aposição do mesmo utilizando o []
print(a[::-1])

#####IMPRIMINDO UM ARRAY BIDIMENSIONAL

In [ ]:
b = np.random.rand(6, 6)

# Dessa forma todo o array/matriz sera impresso
print(f"{b} \n")

# Dessa forma apenas a primeira linha da matriz sera impressa
print(f"{b[0]} \n")

# Dessa forma apnas um valor dentro da matriz sera impressa
print(f"{b[0, 1]} \n")

print(f"{b[6:12:-1]} \n")

###AULA 4 - OPERAÇÕES EM ARRAYS NUMPY

#### OPERAÇÕES COM ESCALARES

In [ ]:
import numpy as np
np.random.seed(32)

a1 = np.random.randint(1, 50, 22)

a2 = np.random.randint(1, 50, 22)


a2 = a2 * 2 # O escalar será aplicado a todos os elementos do array.
print(f"{a1} \n{a2}")

#### OPERAÇÕES ENTRE ARRAY

In [ ]:
# Operando entre arrays
a1 + a2

#### COMPARAÇÕES

In [ ]:
A1 = np.array([1, 2, 3, 2, 1])
A2 = np.array([3, 2, 3, 2, 31])

A1 == A2 # Para fazer a comparação por elemento

np.array_equal(A1, A2) # Para fazer a comparação do array como um todo.

### AULA 5 - MÉTODOS DO OBJETO ARRAY E MASCARAS

In [ ]:
import numpy as np

In [ ]:
array = np.array(['augusto', 'ribeiro', 'prestes', 'da', 'silva'])
array

In [ ]:
matriz = np.random.randn(3, 3)
matriz

#### METODOS DO ARRAY

In [ ]:
matriz.ndim # Imprime a dimensão do Array

In [ ]:
matriz.shape # Imprime o formato do array

In [ ]:
matriz.dtype # Imprime o tipo de dado contido no array

In [ ]:
matriz.astype('bool') # Altera do tipo de dado contido no array

In [ ]:
matriz.s

#### MASCARAS DO ARRAY

In [ ]:
array[[False, True, True, False, True]] # A mascara serve para informar qual valor sera acessado pelo indice

In [ ]:
matriz[matriz >= 0]

#AULAS DE PANDAS

### CONFIGURANDO AMBIENTE

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv')
df.head()

###AULA 1 - INTRODUÇÃO AO PANDAS

#### TRABALHANDO COM SERIER DO PANDAS

In [3]:
# importando as Bibliotecas

import numpy as np
import pandas as pd

In [ ]:
passos = pd.Series([4216, 3857, 7934, 4180, 5344], ['a', 'b', 'c', 'd', 'e'])
passos

###AULA 2 - SERIES: INDEXAÇÃO, OPERAÇÃO E MASCARA

#### TRABALHANDO COM INDEXAÇÃO

In [1]:
string = 'a b c d e f g h i j'.split()
string

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [4]:
s = pd.Series(data=np.random.randint(1, 10, 10), index=string)
s

a    3
b    4
c    9
d    8
e    4
f    9
g    6
h    8
i    2
j    5
dtype: int64

#### TRABALHANDO COM MASCARAS

In [5]:
s[s > 2]

a    3
b    4
c    9
d    8
e    4
f    9
g    6
h    8
j    5
dtype: int64

###AULA 3 - DATAFRAME: INTRODUÇÃO, CRIAÇÃO E INDEXAÇÃO

####CRIAÇÃO DE DARAFRAMES

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dados = np.array([[72, 180, 26], [80, 170, 19], [60, 165, 15]])
dados

In [ ]:
df = pd. DataFrame(dados, columns=['Peso', 'Altura', 'Idade'])
df

####INDEXAÇÃO DE DATAFRAMES

In [ ]:
# Acessar uma coluna do DataFrame
df['Altura']

In [ ]:
# Acessar uma linha do DataFrame
df.loc[0]

In [ ]:
# Acessar um unico elemento do DataFrame, passando primeiro a coluna do DF
df['Altura'][1]

In [ ]:
# Acessar um unico elemento do DataFrame, passando primeiro a linha do DF
df.loc[1]['Altura']

In [ ]:
# Acessar um unico elemento do DataFrame, passando os indexs em formato de numeros
df.iloc[1][1]

In [ ]:
s

### AULA 4 - LENDO E SALVANDO DATASETS

#### CAREGADO DATASETS (FISICAMENTE)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_train = pd.read_csv('/content/sample_data/mnist_train_small.csv')

df_train

#### CARREGANDO DADOS DA WEB

In [ ]:
df = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')
df_bank = df[0]
df_bank

#### VISUALIZANDO DADOS DO DATASET

In [ ]:
df_train.head()

In [ ]:
df_train.tail()

#### TRANSFORMANDO DATASET EM OUTRO TIPO DE DADOS

In [ ]:
df_train.to_excel('teste.xlsx')

### AULA 5 - ANALISANDO E FILTRANDO DATAFRAME

#### CARREGANDO CSV E IMPORTANDO PACOTE DO PANDAS

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv")

df

In [ ]:
df.columns

#### ANALISANDO O DF

In [ ]:
df['sex'].unique()

In [ ]:
df['sex'].value_counts()

#### VERIFANDO E ELIMINANDO LINHAS DUPLICADAS

In [ ]:
df.duplicated().sum()

In [ ]:
df.drop_duplicates()

#### FILTRANDO DADOS

In [ ]:
# Filtrando passageiros com mais de 60 anos
df_velhos = df[df['age'] >= 60 ]

# Filtrado passageiros do sex masculino
df_homem = df[df['sex'] == 'male']

# Filtrando a Burguesia
df_rico = df[df['pclass'] == 1]

# Contando as Cabines
df['cabin'].value_counts()

### AULA 6 - INSERINDO E REMOVENDO COLUNAS DE UM DATAFRAME

In [ ]:
import pandas as pd
import numpy as np
from random import choice

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv")
df.head()
df.shape

#### CRIANDO A NOVA COLUNA USANDO NUMPY

In [ ]:
mortos = np.random.randint(0, 2, 891)

#### INSERINDO UMA COLUNA

In [ ]:
# Inserindo nova coluna no DF (Utilizando NUMPY)
df['mortos'] = mortos
df.head()

df_mortos = df[df['mortos'] == 0 ]
df_mortos

#### CRIANDO A NOVA COLUNA USANDO LIST COMPREHENSION

In [ ]:
# Inserindo nova coluna no DF (Utilizando list comprehension)
mortos = [choice([0, 1]) for i in range(891)]

#### REMOVENDO UMA COLUNA

In [ ]:
# Fazendo a remoção sem o parametro 'axis' com o valor de 1 sera removido a
# não a coluna com o indice em questão
df.drop([0])

# Fazendo a remoção da coluna com o indice informado
df.drop(['survived'], axis=1)

### AULA 7 - TRATAMENTO DE DADOS AUSENTES

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dados = np.array([[1, 2, np.nan],
                  [4, np.nan, 6],
                  [np.nan, 8, 9]])

df = pd.DataFrame(dados, columns='X Y Z'.split())

#### CALCULANDO OS DADOS INEXISTENTES

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv')

# Contando os campos com dados inxesistentes
df.isnull().sum()

#### EXCLUINDO DADOS INEXISTENTES

In [ ]:
# Elimina uma linha ou coluna caso o mesmo possua um valor inexistente
df.dropna()

#### TROCANDO DADOS VAZIOS

In [ ]:
# Trocando o dado vazio por zero
df['age'] = df['age'].fillna(0)

# Trocando o dado vazio pelo ultimo dado disponivel
df['age'] = df['age'].fillna(method='ffill')

# Trocando o dado vazio pelo proximo dado disponivel
df['age'] = df['age'].fillna(method='bfill')

### AULA 8 - AGRUPANDO DADOS DE UM DATAFRAME

#### CONFIGURAÇÕES DE AMBIENTE

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv')
df.head()

#### MÉTODO GROUPBY

##### AGRUPANDO SEM PASSAR UMA FUNÇÃO PARA OS VALORES AGRUPADOS

In [ ]:
# Agrupando com base nas pessoas que sobreviveram 
df_mortos = df.groupby('survived')
display(df_mortos.mean().round(2))
display(df_mortos.std().round(2))

##### AGRUPANDO E PASSANDO UMA FUNÇÃO PARA OS DE MEDIA PARA OS VALORES AGRUPADOS

In [ ]:
# Agrupando com base no sexo e passando uma função para os valores agrupados
df_sexo = df.groupby('sex').mean().round(2)
df_sexo

### AULA 9 - JUNÇÃO DE DATAFRAME

#### CONFIGURAÇÕES DE AMBIENTE

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv')
df.head()

In [ ]:
# Criando os dados do DF
dados = np.arange(1, 10).reshape(3,3)

# Passando os dados criados para os 3 DF's
df1 = pd.DataFrame(dados, columns='A B C'.split())
df2 = pd.DataFrame(dados, columns='A B C'.split())
df3 = pd.DataFrame(dados, columns='D E C'.split())

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

#### FUNÇÃO CONCAT

In [ ]:
# Concatenando e matendo o index original
# Foi concatenado abaixo pois o pandas identificou que as colunas são identicas
pd.concat([df1, df2])

In [ ]:
# Concatenando e mantendo o index original
# Foi concatenado ao lado pois as colunas possuem nomes distintos, porém o index anterior foi mantido
pd.concat([df1, df3])

#### FUNÇÃO MERGE

In [ ]:
pd.merge(df1, df3)

#### FUNÇÃO JOIN

In [ ]:
df1 = pd.DataFrame(dados, columns='A B C'.split(), index=[0, 1, 2])
df2 = pd.DataFrame(dados, columns='D E F'.split(), index=[1, 2, 3])

In [ ]:
# Unindo os DF'S sem considerar o indice do DF da esquesda
# Por padrão ele só considera o indice do DF da esquerda
df1.join(df2)

In [ ]:
# Unindo os DF'S e mantendo os dois indices

df3 = df1.join(df2, how='outer')

In [ ]:
df3.fillna(0)

### AULA 10 - MÉTODO APPLY E ORDENAÇÃO DE DF

#### CONFIGURAÇÕES DE AMBIENTE

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv')
df.head()

#### UTILIZAÇÃO DO MÉTODO APPLY

In [ ]:
# Utilizando o Método  apply para modificar os valores nas colunas especificas
df['fare'] = df['fare'].apply(lambda elemento: '${:.3}'.format(elemento))
df

#### ORDENAÇÃO DE DATAFRAME

In [ ]:
# Ordenando um DF por idade, apartir da menor até a maior
df.sort_values('age')

In [ ]:
# Ordenando um DF por idade, apartir da maior até a menor
df.sort_values('age', ascending=False)

### AULA 0 - LISTA DE COMANDOS

#### COMANDO INFO

In [ ]:
# O comando informa qual o tipo de de dado cada coluna contém e quantas linhas possuem dados
df.info()

#### COMANDO UNIQUE

In [ ]:
# O comando retorna um array contendo todos os valores unicos da coluna
df['survived'].unique()

#AULAS DE MATPLOTLIB

### AULA 1 - INTRODUÇÃO AO MATPLOTLIB

#### CONFIGURAÇÃO DE AMBIENTE

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv')

#### PLOTAGEM BASICA DO PLT

In [ ]:
# Plotagem basica considerando apenas o valor de Y
array = np.arange(6)
plt.plot(array)

In [ ]:
# Plotagem basica, porém considerando o valor de X e Y
x = np.arange(0, 10, 0.1)
y = np.sin(x)
plt.plot(x, y)

In [ ]:
# Plotagem basica, porém passando parametros para formatar o gráfico
plt.plot(x, y)
plt.title('Gráfico do Seno de "X"')
plt.legend('Valores de Y')
plt.grid()
#plt.spines()
plt.xlabel('Valores de X') # X axis Label
plt.ylabel('Valores de Y') # Y axis Label

### AULA 2 -  PLOTAGEM BASICA E SUBPLOT

#### CONFIGURAÇÃO DE AMBIENTE

In [ ]:
import numpy as np
import matplotlib.pyplot as plt 

# Deixando a plotagem dos graficos em um linha.
%matplotlib inline

In [ ]:
# Criando os dados para a plotagem do grafico
x = np.arange(1, 11, 0.01)
y1 = np.sin(x)
y2 = np.cos(x)

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv')
df

#### MULTIPLOTAGEM DE AXIES

In [ ]:
# Forma Simples de plotar mais de um axie
plt.plot(x, y1, x, y2)

In [ ]:
# Forma "hold on" de plotar mais de axie em um grafico
# Usando o parametro "label" para dar nome a legenda o plot especifico
plt.plot(x, y1, label="Seno (X)") 
plt.plot(x, y2, label="Cosseno (X)")

# Usando a função legend para criar a legenda dentro do plot
plt.legend()

# Alterando o valor do "Ticks" do eixo X
plt.xticks(np.arange(1, 11, 1))

#### SUBPLOT - SIMPLES

In [ ]:
# Forma simples de Plotar mais de um axies no mesmo figure
# Personalizando a Figure
plt.figure(figsize=(12, 12))

# Primeiro grafico da Figure
plt.subplot(2, 1, 1)
plt.plot(x, y1, label="Seno (X)")
plt.legend(loc='upper right')

# Segundo grafico da Figure
plt.subplot(2, 1, 2)
plt.plot(x, y2, label="Cosseno (X)")
plt.legend(loc='upper right')

plt.tight_layout()